html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Oswald', sans-serif;
}

/* Header */
#myNavHolder {
    font-size: 120%;
    border: 0;
}

#myBrand {
    font-size: 180%;
}

/* Footer */
.affix {
	bottom: 10px;
	width: 100%;
	z-index: 9999 !important;
}

#myIconGroup {
    width: 100%;
    max-width: 300px;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

#myIconGroup a {
    color: #C11F3F;
    margin: 10px;
}

#myIconGroup a:hover {
    color: #111;
}

/* Generic page */
.fullHeight {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
    color: #C11F3F;
}

.fullHeight h2 {
    margin: 70px 0 30px 0;
    text-align: center;
    width: 100%;
}

.halfBox {
    width: 100%;
    margin: 5px auto 5px auto;
}

@media (min-width: 768px) {
    .halfBox {
        width: 45%;
    }
}

/* Home */
#homeHolder {
    height: 100%;
    overflow: hidden;
    padding: 0;
    background-image: url(imgs/home.jpg);
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeHolder h1 {
    font-size: 500%;
    margin: 70px;
}

/* About */
#aboutImage {
    height: 600px;
    background-image: url(imgs/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Music */
#musicHolder {
    overflow: hidden;
    padding: 0;
    background-image: url(imgs/music.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFF;
}

#spotifyHolder {
    height: 600px;
}

#spotify {
    width: 100%;
    height: 600px;
}

/* Contact */
#contactHolder {
    margin-bottom: 50px;
}

#messengerHolder {
    text-align: center;
}
